{{> logged-in}}
<div class="container bg-light">
  <div class="d-flex justify-content-center mt-5" style="min-height: 350px;">
    <div class="card mb-3 shadow border-info" style="width: 70%;">
      <div class="row g-0">
        <div class="col-md-5 border-end">
          <img src={{poi.img}} class="img-fluid rounded-start" alt="..." style="height: 100%; width: 100%"/>
        </div>
        <div class="col-md-7" style="height: 100%; ">
          <div class="col-md d-flex flex-column justify-content-between p-3" style="min-height: 350px">
            <h5 class="card-title">{{poi.title}}</h5>
            <p class="card-text">{{poi.description}}</p>
            <p class="card-text"><small class="text-muted">{{poi.city}},
                {{poi.country}}</small></p>
          </div>
        </div>
      </div>
      {{#if owner}}
      <div class="card-footer">
        <div class="d-flex justify-content-between" style="width: 100%;">
          <div class="div"></div>
          <div class="div">
            <a href="/editpoi/{{poi._id}}" class="btn btn-success" style="width: 80px;">Edit</a>
            <a href="/deletepoi/{{poi._id}}" class="btn btn-danger" style="width: 80px;">Delete</a>
          </div>
        </div>
      </div>
      {{/if}}
    </div>
  </div> 
  <div class="container my-2">
    <div class="d-flex align-items-center">
      <div class="col-md-6">
        {{> show-review}}
      </div>
      <div class="col-md-6">
        {{> poi-analytics}}
      </div>

    </div>
  </div>
 
</div>