<div
  class="container mt-5 p-5 shadow border border-warning rounded"
  style="height: 70%;"
>

  <div class="h4 pb-2 mb-2 border-bottom border-info">

  </div>
  <form action="/updatepoi/{{poi._id}}" method="POST">
    <div class="field mb-2">
      <label class="label">Category</label>
      <select class="form-control border border-info" name="category">
        <option>Pub</option>
        <option>Restaurant</option>
        <option>Nightclub</option>
        <option>Cocktail Bar</option>
      </select>
    </div>
    <div class="field mb-2">
      <label class="label">Name of point of interest</label>
      <input
        class="input border border-info"
        type="text"
        placeholder="eg. Murphy's bar and grill"
        name="title"
        value="{{poi.title}}"
      />
    </div>
    <div class="row mb-2">
      <div class="col">
        <label class="label">Latitude</label>
        <input
          class="input border border-info"
          type="text"
          placeholder="eg. 22674"
          name="latitude"
          value="{{poi.latitude}}"
        />
      </div>

      <div class="col">

        <label class="label">Longitude</label>
        <input
          class="input border border-info"
          type="text"
          placeholder="eg. -13279"
          name="longitude"
          value="{{poi.longitude}}"
        />
      </div>

    </div>
    <div class="row mb-2">
      <div class="col">
        <label class="label">City</label>
        <input
          class="input border border-info"
          type="text"
          placeholder="eg. Dublin"
          name="city"
          value="{{poi.city}}"
        />
      </div>
      <div class="col">
        <label class="label">Country</label>
        <input
          class="input border border-info"
          type="text"
          placeholder="eg. Ireland"
          name="country"
          value="{{poi.country}}"
        />
      </div>
    </div>
    {{!-- <div class="field mb-2">
      <label class="label">Description</label>
      <textarea
        class="form-control border border-info"
        name="description"
        rows="3"
        value="{{poi.description}}"
      ></textarea> --}}
            <div class="col">
        <label class="label">Country</label>
        <input
          class="input border border-info"
          type="text"
          placeholder="eg. Ireland"
          name="description"
          value="{{poi.description}}"
        />
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="button mt-2 bg-warning">Add Point</button>
    </div>

  </form>

</div>